@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix React Quill height and borders */
.ql-container {
  min-height: 350px;
  font-size: 16px !important;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}
.ql-toolbar.ql-snow {
  border: none !important;
  border-bottom: 1px solid #e5e7eb !important;
  background-color: #f9fafb;
}
.ql-container.ql-snow {
  border: none !important;
}